---
layout: base.njk
---

<article>
    <section class="text-center py-20 lg:py-24 px-6 bg-accent">
        <div class="container mx-auto">
            <h1 class="font-heading text-4xl md:text-5xl font-bold text-foreground tracking-tight">{{ title }}</h1>
            {% if date %}
            <p class="mt-4 text-lg text-foreground-muted">{{ date | readableDate }}  {{ readTime }}</p>
            {% endif %}
        </div>
    </section>

    <section class="bg-background py-16">
        <div class="container mx-auto px-6">
            <div class="prose dark:prose-invert max-w-3xl mx-auto">
                {{ content | safe }}
            </div>
        </div>
    </section>
</article>